.profile-container {
  padding: 20px;
}

.reserva-cards {
  display: flex;
  flex-wrap: wrap;
}

.reserva-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  width: 300px; /* Ancho deseado de las tarjetas */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff; /* Color de fondo de las tarjetas */
  color: #333; /* Color del texto en las tarjetas */
}

.libro-info {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5; /* Color de fondo para la información del libro */
  color: #333; /* Color del texto para la información del libro */
}
