/* Mantenimientos.scss */

/* Estilos para la tabla */
.table-container{
  max-height: 276px;
  overflow-y: auto;
  width: 90%;
  margin: auto;
  
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    max-height: 276px; 
     overflow-y: auto; 
  
    th {
      background-color: #ffffff;
      padding: 12px;
      text-align: left;
      font-family: 'Coolvetica' !important;
      font-weight: normal;
    }
  
    td {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: lighter;
      color: #626262;
      padding: 12px;
      border: 1px solid #ccc;
      border-width: 1px 0px; /* Borra los bordes verticales */
      text-align: left;
      
    }
  
    tr {
      background-color: #ffffff;
    }
  }
  
  /* Estilos para los botones de acción */
  button {
    background: #1e6ec4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 1.4rem;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background: #0056b3;
    }
  
    &.eliminar {
      background: #e86f24;
      &:hover {
        background: #a65a08;
      }
    }
  }
  
  /* Estilos para el formulario de agregar nuevo libro */
  h2 {
    font-size: 40px;
    margin-top: 20px;
    
  }
  
  .nuevolibro input {
    margin: 4px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.6rem;
    font-family: 'Coolvetica' !important;
    font-weight: normal;
  }
  

.nuevolibro{
  webkit-box-shadow: 0px 7px 18px 0px rgba(212,212,212,1);
  -moz-box-shadow: 0px 7px 18px 0px rgba(212,212,212,1);
  box-shadow: 0px 7px 18px 0px rgba(212,212,212,1);
  background: white;
  width: 75%;
  border-radius: 5px;
  margin: auto;


  input{
  width: 16%;
  margin: 1%;
  }
}
  /* Estilos para el título y botón "Agregar Libro" */
  h2 {
    font-size: 2.5rem;
    margin: 20px 0;
    font-family: 'Coolvetica' !important;
    font-weight: normal;
    padding-top: 5px;
  }
  
  button.agregar {
    font-family: 'Coolvetica' !important;
    font-weight: normal;
    font-size: 1.6rem;
    background: #28a745;
    &:hover {
      background: #218838;
    }
  }
  
  /* Estilos para toda la página de Mantenimientos */
  .mantenimientos {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos para la página principal (Mantenimientos) */
  .mantenimientos-page {
    margin: 20px;
  }
  