/* Navbar styles */
.navbar {
  background: rgb(1,15,22);
background: linear-gradient(90deg, rgba(1,15,22,1) 0%, rgba(40,80,70,1) 60%, rgba(1,92,68,1) 100%);
  border-bottom: 1px solid #BBBBBB;
  padding: 5px 10px;
}

/* Navbar list styles */
.navbar-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: right;
}

/* Navbar item styles */
.navbar-item {
  text-align: left;

  // Icon styles
  .svg-inline--fa {
    font-size: 1.5rem; // Tamaño del ícono
    margin-bottom: 5px;
  }

  // Active link styles
  &.active {
    border-bottom: 2px solid #fff; // Línea inferior para el enlace activo
  }

  // Hover effect
  a:hover {
    transform: scale(1.5);
    color: white;
  }

  // Estilo del enlace
  a {
    color: #dedede; // Color del enlace (blanco)
    font-size: 2rem; // Tamaño de letra mediano
    text-decoration: none;


  }

  // Padding and margin for items
  padding: 10px;
  margin: 0 5px;

}


