/* Navbar styles */
.navbar {
  background-color: #333; // Color de fondo de la barra de navegación
  color: #fff; // Color del texto
  padding: 10px 20px;
}

/* Navbar list styles */
.navbar-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

/* Navbar item styles */
.navbar-item {
  text-align: center;

  // Icon styles
  .svg-inline--fa {
    font-size: 1.5rem; // Tamaño del ícono
    margin-bottom: 5px;
  }

  // Active link styles
  &.active {
    border-bottom: 2px solid #fff; // Línea inferior para el enlace activo
  }

  // Hover effect
  a:hover {
    color: rgb(16, 154, 151); // Cambiar color del texto al pasar el mouse
  }

  // Estilo del enlace
  a {
    color: #fff; // Color del enlace (blanco)
    font-size: 2rem; // Tamaño de letra mediano
    text-decoration: none;
    font-weight: bold;
  }

  // Padding and margin for items
  padding: 10px;
  margin: 0 5px;

  // Transition for smooth animation
  transition: color 0.3s, border-bottom 0.3s;
}
