/* Login modal styles */
.login-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para oscurecer el fondo */
  z-index: 999; /* Coloca el modal en la parte superior */

  .login-content {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    position: relative;

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: #e7e7e7;
    }
    
    h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }
    /* Form styles */
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      label {
        font-weight: bold;
        font-size: 1.5rem;
      }

      input {
        padding: 5px;
        border: 1px solid #ccc;
        font-size: 1.5rem;
      }

      button {
        background: #007BFF;
        color: #fff;
        padding: 10px;
        border: none;
        cursor: pointer;
      }
    }
    button.register-button {
      background: #007BFF; /* Cambia el color de fondo */
      color: #fff; /* Cambia el color del texto */
      padding: 10px;
      border: none;
      border-radius: 3px; /* Agrega bordes redondeados */
      cursor: pointer;
      font-size: 1.5rem; /* Ajusta el tamaño del texto */
      transition: background-color 0.3s;

      &:hover {
        background: #45a049; /* Cambia el color de fondo al pasar el mouse */
      }
    }
  }

  /* Responsiveness */
  @media (max-width: 768px) {
    .login-content {
      width: 80%;
    }
  }
}
